/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/public/js
/public/css
/out
/.repl
*.log
/.env
/.idea
/.rebel_readline_history
/reddit-viewer.iml

.calva/*
.clj-kondo/.cache/
.lsp/.cache/
.cpcache/

.shadow-cljs/
node_modules/
